{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}




<div class=" mx-auto my-24 flex space-x-40" >
    <div class="mx-auto items-center box-border w-96 h-auto border-4 border-slate-500 p-4 text-center rounded font-athiti text-2xl "  >

        <img class="mx-auto rounded-full" src="{% static 'image\wooddy.jpg' %}"  width="250px" >
        <h2 class="font-semibold font-mitr-300">   นายWooddy  </h2>

            <h1 class="py-4">
                นักศึกษามหาวิทยาลัยอุบลราชธานี คณะวิทศาสตร์ ปี2 id:1112 
            </h1>
            
            <div class="flex space-x-10">
                    <h1 class="bg-blue-500 rounded">
                        SQL
                    </h1>
                    <h1 class="bg-yellow-500 rounded">
                        python
                    </h1>
                    <h1 class="bg-red-500 rounded">
                        html
                    </h1>

            </div>
                
    </div>
</div>

{% endblock content %}