{% extends "_base.html" %}
{% load static %}

{% block title %}f1{% endblock %}

{% block content %}

<div>
    <img class="mx-auto my-24 rounded-lg" src="{% static 'image\f0301.jpg' %}" width="650px" >
    <h1 class="text-center text-3xl">  หมี่กะทิ    </h1>
    <h3 class="my-4 text-2xl p-1">
        หมี่กะทิ บ้างเรียก หมี่แขก, ผัดหมี่สีชมพู หรือ หมี่สยาม (มลายู: Mee siam) เป็นอาหารไทยชนิดหนึ่ง มีลักษณะเป็นเส้นหมี่ขาวราดด้วยน้ำแกง หรือเป็นหมี่ขาวผัดกับน้ำปรุง โดยเส้นนั้นจะมีสีออกชมพู พบได้ในภาคกลาง ภาคตะวันออกเฉียงเหนือ และภาคใต้ของประเทศไทย 
        ซึ่งหมี่กะทิในแต่ละภูมิภาคจะมีลักษณะพิเศษที่แตกต่างออกไป นอกจากนี้ยังสามารถพบอาหารที่มีลักษณะเดียวกันได้ในประเทศลาว และประเทศมาเลเซีย หมี่กะทิแบบภาคกลาง จัดเป็นอาหารที่มีปริมาณกากใยอาหารระดับดีปานกลาง ให้พลังงานต่ำ แต่มีปริมาณไขมันอิ่มตัวสูง ซึ่งมาจากตัวน้ำราดกะทิ
    </h3>


</div>

{% endblock %}
